


a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.header {
  padding-top: 29px;
}
.header-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: #95E1D3;
font-family: "Montserrat";
font-size: 30px;
font-weight: 700;
line-height: normal;
}


.header-list{
  display: flex;
  gap: 55px;
}

.header-link {
  color: #95E1D3;
font-family: "Montserrat";
font-size: 14px;
font-weight: 400;
line-height: normal;
}
.header-link:hover,
.header-link:focus {
  color: #F38181;
}



.hero{
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
}
.hero-text{
  color: #333;
font-family: "Kaushan Script";
font-size: 24px;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;
}
.hero-title{
  color: #333;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
  margin-bottom: 40px;
}
.line{
width: 60px;
height: 4px;
background: #F38181;
margin: 0 auto;
}

.benefits-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 100px;
}

.benefits-item{
  display: flex;
}

.benefits-item:hover{
.benefits-img{
  fill: brown;
  transform: rotate(360deg) scale(2);
}
}


.benefits-img {
  height: 36px;
  width: 38px;
  margin-right: 20px;
  fill: #95E1D3;
  transition: 2s;
}

/* .benefits-img:hover{
  fill: blueviolet;
} */


.benefits-title{
color: #333;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  margin-bottom: 20px;
}
.benefits-text{
  color: #B6B6B6;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    width: 274px;
}


.info {
padding-top: 100px;
padding-bottom: 27px;

text-align: center;
}

.info-text {
  color: #333;
font-family: "Kaushan Script";
font-size: 24px;
font-weight: 400;
line-height: normal;
margin-bottom: 17px;
}

.info-title {
  color: #333;
font-family: "Montserrat";
font-size: 30px;
font-weight: 700;
line-height: normal;
font-variant: all-small-caps;

margin-bottom: 36px;
}

.info-desk {
  color: #B6B6B6;
text-align: center;
font-family: "Roboto";
font-size: 15px;
font-weight: 400;
line-height: normal;

width: 1104px;
margin: 0 auto;
margin-top: 45px;

}
.team {
  padding-bottom: 80px;
  
}

.team-list{
  display: flex;
  gap: 30px;
  justify-content: center;
}


.team-img {
  width: 380px;
  margin-bottom: 30px;
}

.team-title {
  color: #333;
text-align: center;
font-family: "Montserrat";
font-size: 14px;
font-weight: 400;
line-height: normal;
font-variant: all-small-caps;
margin-bottom: 11px;
}

.team-desk {
  color: #B6B6B6;
text-align: center;
font-family: "Roboto";
font-size: 15px;
font-style: italic;
font-weight: 300;
line-height: normal;
}

.footer {
  padding-bottom: 10px;

}

.footer-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-text {
  color: #333;
font-family: "Montserrat";
font-size: 14px;
font-weight: 400;
line-height: normal;
}

.footer-color {
  color: #F38181;
font-family: "Montserrat";
font-size: 14px;
font-weight: 400;
line-height: normal;
}


.form{
  display: flex;
}


.form-input {
  color: #B6B6B6;
font-family: "Roboto";
font-size: 14px;
font-style: italic;
font-weight: 300;
line-height: normal;

padding-top: 12px;
padding-bottom: 12px;
padding-right: 145px;
padding-left: 10px;

display: block;
}

.form-btn {
  color: #FFF;
text-align: center;
font-family: "Montserrat";
font-size: 14px;
font-weight: 700;
line-height: normal;
font-variant: all-small-caps;
background-color: #95E1D3;

padding-top: 12px;
padding-bottom: 12px;
padding-right: 38px;
padding-left: 38px;

border: transparent;
display: block;
}